.navside {
  .nav {
    li a:not(.active) {
      color: inherit;
    }
  }

  .stylize-scroll {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.25);
      border-radius: 5px;
    }
  }
}
