.loader-overlay {
  background-color: transparentize(darken($deep-purple, 5), 0.2);
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  position: fixed;
  color: $primary;
  display: flex;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 9999;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

.loader {
  animation: spin 4s ease infinite;
  position: fixed;
  height: 100px;
  width: 100px;
  margin: auto;

  &:before {
    border: 5px solid #aaa;
    border-bottom: 5px solid $primary;
    border-left: 5px solid $primary;
    animation: spin1 1s linear infinite;
  }

  &:after {
    border: 5px solid #aaa;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    animation: spin2 1s linear infinite;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin1 {
  20% {
    transform: rotate(150deg);
  }
  40% {
    transform: rotate(300deg);
  }
  80% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin2 {
  0% {
    transform: rotate(-30deg);
  }
  20% {
    transform: rotate(-30deg);
    border-color: transparent transparent #aaa #aaa;
  }
  21% {
    border-color: $primary $primary transparent transparent;
  }
  40% {
    transform: rotate(-30deg);
  }
  60% {
    transform: rotate(120deg);
    border-color: $primary $primary transparent transparent;
  }
  61% {
    border-color: transparent transparent #aaa #aaa;
  }
  80% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(330deg);
  }
}
